.wrap {
    height: 100%;
    background-image: linear-gradient(to right, #30cfd0, #330867);
}

.maintext {
    text-align: center;
    margin-top: 100px;
}

.navBar {
    text-align: center;
}

.navBar a {
    padding: 10px;
}