
html {
    height: 100%;
}
body {
    height: 100%;
}
/* color from：https://www.sj520.cn/tools/jianbian/  */
.wrap {
    height: 100%;
    background-image: linear-gradient(to right, #30cfd0, #330867);
}

.login-wrap {
    width: 200px;
    height: 400px;
    background-color: rgba(170, 170, 255, 0.3);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 0 50px; 
}

.register-wrap{
    width: 200px;
    height: 500px;
    background-color: rgba(170, 170, 255, 0.3);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 0 50px; 
}

.login-title {
    font-size: 25px;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-weight: bold;
}

.login-form .login-input{
    display: block; 
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ccc;
    padding: 10px 0 10px 10px;
    margin-bottom: 20px;
    outline: none; 
    background-color: transparent; 
}
.login-form .login-input::placeholder {
    text-transform: uppercase; 
    color: #bdbdbd;
}

.login-form .login-submit, .register-submit{
    width: 100%;
    line-height: 30px;
    border: 0;
    border-radius: 3px;
    margin-top: 20px;
    background-image: linear-gradient(to right, #5ee7df, #b490ca);
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    color: #aa00ff;
    font-weight: bold;
}

.tip {
    margin-top: 15px;
}
.tip a {
    padding-left: 110px;
    text-decoration: none;
    color: #7d3ebc;
}
