.rating {
    float:left;
    width:300px;
}
.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:#F90;
    color:#FFF;
}




.rating2 {
    float:left;
    width:300px;
}
.rating2 span { float:right; position:relative; }
.rating2 span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating2 span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.rating2 span:hover ~ span label,
.rating2 span:hover label,
.rating2 span.checked label,
.rating2 span.checked ~ span label {
    background:#F90;
    color:#FFF;
}

body {
    height: 100%;
    background-image: linear-gradient(to right, #30cfd0, #330867);
}

.maintext {
    text-align: center;
    margin-top: 100px;
}

.navBar {
    text-align: center;
}

.navBar a {
    padding: 10px;
}

.btn {
    width: 100%;
    line-height: 30px;
    border: 0;
    border-radius: 3px;
    margin-top: 20px;
    background-image: linear-gradient(to right, #5ee7df, #b490ca);
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    color: #aa00ff;
    font-weight: bold;
}
