<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/addDiscussion.css' %}">
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <style>
        form{
            border:4px solid black;
            margin: 0 auto;
            padding: 40px;
            width: fit-content;
        }

    </style>
    <title>Add discussion page</title>
    
</head>

<body>
{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
            <script> alert('{{ message }}'); </script>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="wrap">
    <div class="login-title">
        <h1>Add discussion page</h1>
    </div>

<form class="login-form" action="\addDiscussion\" method="POST" id="discuss">
    {% csrf_token %}
    <b>What do you want to say:</b>
    <textarea cols = 60, rows = 10 class="login-input" name="discuss" form="discuss"></textarea>
    <input type="hidden" name="forum_id" value="{{ forum_id }}" >
    <input type="submit" class="login-submit" value="submit" >
</form>


</div>

</body>
</html>