{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add item page</title>
    <h1 class="maintext">Online Computer Store</h1>
</head>

{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
            <script> alert('{{ message }}'); </script>
        {% endif %}
    {% endfor %}
{% endif %}

<script>
    function show(id) {
		document.getElementById(id).style.display='';
    }

	function hide(id) {
		document.getElementById(id).style.display='none';
    }

    window.onload=function(){
		hide("add-component");
		hide("add-computer");
		hide("select-component");
	}

	function select_type() {
        let target = document.getElementById("type");
        if (target.value === "component") {
            hide("add-computer");
            hide("add-component");
            show("select-component");
        } else if (target.value === "computer") {
            show("add-computer");
            hide("add-component");
            hide("select-component");
            document.getElementById('component').value = ""
        } else {
            hide("add-computer");
            hide("add-component");
            hide("select-component");
        }
    }

    function select_component() {
        let target = document.getElementById("component");
        show("add-component");
        hide("add-cpu");
        hide("add-gpu");
        hide("add-memory");
        hide("add-hdd");
        hide("add-monitor");
        hide("add-battery");
        let str = target.value;
        str = 'add-'+str;
        show(str);
    }
</script>


<body>
<div class="navBar">
    <a href="/">Home</a>
    <a href="/browse">Browse</a>
    Welcome, <a href="/account">{{ user }}</a>
    <a href="/logout">Logout</a>
    <a href="/forum">Forum</a>
    <a href="/aboutus">About Us</a>
</div>
<div id="selector" style="margin:40px 50px 40px">
    <div id="select-type">
        <label>
            Item type:
            <select id="type" onchange="select_type()">
                <option value="">--please select item type--</option>
                <option value="component">component</option>
                <option value="computer">computer</option>
            </select>
        </label>
    </div>


    <div id="select-component" style="margin-top: 40px">
        <label>
            Component:
            <select id="component" onchange="select_component()">
                <option value="">--please select component</option>
                <option value="cpu">cpu</option>
                <option value="gpu">gpu</option>
                <option value="memory">memory</option>
                <option value="hdd">hdd</option>
                <option value="monitor">monitor</option>
                <option value="battery">battery</option>
            </select>
        </label>
    </div>
</div>

<div id="add-component">
    <div id="add-cpu">
        <form method="post" enctype="multipart/form-data" style="margin-left:40px">
            {% csrf_token %}
            <table >
                {{ cpu_form.as_table }}
            </table>
            <input type="submit" name="is_cpu" value="Submit">
        </form>
    </div>

    <div id="add-gpu">
        <form method="post" enctype="multipart/form-data" style="margin-left:40px">
            {% csrf_token %}
            <table>
                {{ gpu_form.as_table }}
            </table>
            <input type="submit" name="is_gpu" value="Submit">
        </form>
    </div>

    <div id="add-memory">
        <form method="post" enctype="multipart/form-data" style="margin-left:40px">
            {% csrf_token %}
            <table>
                {{ memory_form.as_table }}
            </table>
            <input type="submit" name="is_memory" value="Submit">
        </form>
    </div>

    <div id="add-hdd">
        <form method="post" enctype="multipart/form-data" style="margin-left:40px">
            {% csrf_token %}
            <table>
                {{ hdd_form.as_table }}
            </table>
            <input type="submit" name="is_hdd" value="Submit">
        </form>
    </div>

    <div id="add-monitor">
        <form method="post" enctype="multipart/form-data" style="margin-left:40px">
            {% csrf_token %}
            <table>
                {{ monitor_form.as_table }}
            </table>
            <input type="submit" name="is_monitor" value="Submit">
        </form>
    </div>

    <div id="add-battery">
        <form method="post" enctype="multipart/form-data" style="margin-left:40px">
            {% csrf_token %}
            <table>
                {{ battery_form.as_table }}
            </table>
            <input type="submit" name="is_battery" value="Submit">
        </form>
    </div>

</div>

<div id="add-computer">
    <form method="post" enctype="multipart/form-data" style="margin-left:40px">
        {% csrf_token %}
        <table margin="20px">
            {{ computer_form.as_table }}
        </table>
        <input type="submit" name="is_computer" value="Submit">
    </form>
</div>




</body>
</html>