{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assign Delivery</title>
    <h1 class="maintext">Customer account home</h1>
</head>
<div class="navBar">
    <a href="/">Home</a>
    <a href="/browse">Browse</a>
    Welcome, <a href="/account">{{ user }}</a>
    <a href="/logout">Logout</a>
    <a href="/forum">Forum</a>
    <a href="/aboutus">About Us</a>
</div>
<br>
<br>



<body>
<div style="text-align: center;">
<h1>Assign Delivery</h1>
{% for order in open_orders %}
    <li><b>Order ID:</b> {{ order.id }}
    <br> <b>Order #:</b> {{ order.order_number }}
        <br> <b>Address:</b> {{ order.address }}<br>

    {% for set in bid_info %}
        {% for bid in set %}
            {% if bid.order_id == order.id %}
                - Bid: {{ bid.delivery_company.username }} {{ bid.price }}
                <form class="login-form" action="/assignDeliCom/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="deliCompany" value={{ bid.delivery_company_id }} class=""/>
                    <input type="hidden" name="orderID" value={{ order.id }} class=""/>
                    <input type="submit" name="select" value="select" class="register-submit"/>
                </form>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <br>
    <br>
    </li>
{% endfor %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
            <script> alert('{{ message }}'); </script>
        {% endif %}
    {% endfor %}
{% endif %}
</div>
</body>
</html>