{% load static %}
<link rel="stylesheet" href="/static/css/browse.css?{% now "U" %}"/>

<div class="grid-container">
<div class="tools">
    <div class="search-area">
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="search" id="search" placeholder="Search"/>
            <input type="submit" id="searchbutton" value="GO">
        </form>
    </div>
</div>

<div class="products-products-table">
    <div class="products products-table">
        {% for item in item_list %}
        <div class="product">
            <div class="product-img">
                <img src="{{ item.img.url }}">
            </div>
            <div class="product-content">
                <h3>
                    <a href="/item/{{ item.url_slug }}">{{ item.name }}</a>
                    <small>{{ item.description }}</small>
                </h3>
                <p class="product-text price">{{ item.price }}</p>
                <p class="product-text genre">{{ item.rating }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<div class="page-list">

</div>



<script>
    function show(id) {
		document.getElementById(id).style.display='';
    }

	function hide(id) {
		document.getElementById(id).style.display='none';
    }

    function enable(id) {
        document.getElementById(id).disabled = false;
    }

    function disabled(id) {
        document.getElementById(id).disabled = true;
        document.getElementById(id).value = "";
    }

    function set_default(id) {
        document.getElementById(id).value = ""
    }

    window.onload=function(){
		hide("computer-form");
		hide("component-form");
		set_default("type");
		set_default("os");
		set_default("purpose");
		set_default("architecture");
		set_default("component");
	}

	function select_type(){
        if (document.getElementById("type").value === "computer") {
            show("computer-form");
            hide("component-form");
            set_default("component");
        }
        else if (document.getElementById("type").value === "component") {
            show("component-form");
            hide("computer-form");
            set_default("os");
            set_default("purpose");
            set_default("architecture");
        } else {
            hide("component-form");
            hide("computer-form");
            set_default("os");
            set_default("purpose");
            set_default("architecture");
            set_default("component");
        }
    }

</script>

<div class="filter-area">
    <div id="select-grid" class="select-grid">
        <table>
            <tr>
                <th><label>Type: </label></th>
                <td>
                    <select name="type" id="type" onchange="select_type()">
                        <option value="">--please select--</option>
                        <option value="computer">computer</option>
                        <option value="component">component</option>
                    </select>
                </td>
            </tr>
        </table>
        <div class="computer-form" id="computer-form">
            <form action="/browse/computer" class="browse-form" method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        <th><label>OS: </label></th>
                        <td>
                            <select name="os" id="os">
                                <option value="">--please select a operating system--</option>
                                <option value="windows">windows</option>
                                <option value="linux">linux</option>
                                <option value="mac os">mac os</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <th><label>Main purpose: </label></th>
                        <td>
                            <select name="purpose" id="purpose">
                                <option value="">--please select a main purpose--</option>
                                <option value="business">business</option>
                                <option value="computing">computing</option>
                                <option value="gaming">gaming</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <th><label>Architecture</label></th>
                        <td>
                            <select name="architecture" id="architecture">
                                <option value="">--please select a architecture--</option>
                                <option value="intel">intel</option>
                                <option value="arm">arm</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <input class="submit" type="submit" name="choose_computer" value="Filter">
            </form>
        </div>

        <div class="component-form" id="component-form">
            <form class="browse-form" action="/browse/component" method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        <th><label>Category: </label></th>
                        <td>
                            <select name="component" id="component">
                                <option value="">--please select a category--</option>
                                <option value="cpu">cpu</option>
                                <option value="gpu">gpu</option>
                                <option value="memory">memory</option>
                                <option value="hdd">hdd</option>
                                <option value="monitor">monitor</option>
                                <option value="battery">battery</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <input type="submit" class="submit" name="choose_component" value="Filter">
            </form>
        </div>
    </div>
</div>

</div>



