{% load static %}
<link rel="stylesheet" href="/static/css/browse.css?{% now "U" %}"/>

<div class="grid-container">
<div class="tools">
    <div class="search-area">
        <input type="text" id="search" placeholder="Search" /> <button id="searchbutton">Go</button>
    </div>
</div>

<div class="products-products-table">
    <div class="products products-table">
        {% for item in item_list %}
        <div class="product">
            <div class="product-img">
                <img src="{{ item.img.url }}">
            </div>
            <div class="product-content">
                <h3>
                    <a href="/item/{{ item.url_slug }}">{{ item.name }}</a>
                    <small>{{ item.description }}</small>
                </h3>
                <p class="product-text price">{{ item.price }}</p>
                <p class="product-text genre">{{ item.rating }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<div class="page-list">

</div>



<script>
    function show(id) {
		document.getElementById(id).style.display='';
    }

	function hide(id) {
		document.getElementById(id).style.display='none';
    }

    function enable(id) {
        document.getElementById(id).disabled = false;
    }

    function disabled(id) {
        document.getElementById(id).disabled = true;
        document.getElementById(id).value = "";
    }

    function set_default(id) {
        document.getElementById(id).value = ""
    }

    window.onload=function(){
		hide("computer-form");
		hide("component-form");
		set_default("type");
		set_default("os");
		set_default("purpose");
		set_default("architecture");
		set_default("component");
	}

	function select_type(){
        if (document.getElementById("type").value === "computer") {
            show("computer-form");
            hide("component-form");
            disabled("component-form");
            set_default("component");
        }
        else if (document.getElementById("type").value === "component") {
            show("component-form");
            hide("computer-form");
            disabled("computer");
            set_default("os");
            set_default("purpose");
            set_default("architecture");
        } else {
            hide("component-form");
            hide("computer-form");
            set_default("os");
            set_default("purpose");
            set_default("architecture");
            set_default("component");
        }
    }

    function select_os() {
        if (document.getElementById("os").value !== "") {
            enable("purpose");
        }
        else {
            disabled("purpose");
            disabled("architecture");
            set_default("purpose");
            set_default("architecture");
        }
    }

    function select_purpose() {
        if (document.getElementById("purpose").value !== "") {
            enable("architecture");
        }
        else {
            disabled("architecture");
            set_default("architecture");
        }
    }
</script>

<div class="filter-area">
    <div id="select-grid" class="select-grid">
        <label>
            I want to buy:
            <select name="type" id="type" onchange="select_type()">
                <option value="">--please select--</option>
                <option value="computer">computer</option>
                <option value="component">component</option>
            </select>
        </label>
        <div class="computer-form" id="computer-form">
            <form action="/browse/computer" class="browse-form" method="post">
                {% csrf_token %}
                <ul>
                    <li>
                        <label>
                            OS:
                            <select name="os" id="os" onchange="select_os()">
                                <option value="">--please select a operating system--</option>
                                <option value="windows">windows</option>
                                <option value="linux">linux</option>
                                <option value="mac os">mac os</option>
                            </select>
                        </label>
                    </li>

                    <li>
                        <label>
                            Main purpose:
                            <select name="purpose" id="purpose" disabled onchange="select_purpose()">
                                <option value="">--please select a main purpose--</option>
                                <option value="business">business</option>
                                <option value="computing">computing</option>
                                <option value="gaming">gaming</option>
                            </select>
                        </label>
                    </li>

                    <li>
                        <label>
                            Architecture:
                            <select name="architecture" id="architecture" disabled>
                                <option value="">--please select a architecture--</option>
                                <option value="intel">intel</option>
                                <option value="arm">arm</option>
                            </select>
                        </label>
                    </li>

                </ul>
                <input class="submit" type="submit" name="choose_computer" value="GO">
            </form>
        </div>

        <div class="component-form" id="component-form">
            <form class="browse-form" action="/browse/component" method="post">
                {% csrf_token %}
                <ul>
                    <li>
                        <label>
                            Category:
                            <select name="component" id="component">
                                <option value="">--please select a category--</option>
                                <option value="cpu">cpu</option>
                                <option value="gpu">gpu</option>
                                <option value="memory">memory</option>
                            </select>
                        </label>
                    </li>
                </ul>
                <input type="submit" class="submit" name="choose_component" value="GO">
            </form>
        </div>
    </div>
</div>

</div>



