<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>

  <script>

        const check = function validatePassword() {
            if (document.getElementById("password").value === document.getElementById("re_password").value) {
                document.getElementById("re_password").setCustomValidity('');
            } else {
                document.getElementById("re_password").setCustomValidity("Passwords Don't Match");
            }
        };

    </script>
<body>

<body>


        {% if messages %}
            {% for message in messages %}
                {% if message.tags %}
                    <script> alert('{{ message }}'); </script>
                {% endif %}
            {% endfor %}
        {% endif %}

		<div class="wrap">
			<div class="register-wrap">
				<div class="login-title">
					Change Password
				</div>

                <form class="login-form" action="/changePassword/" method="POST">
                    {% csrf_token %}
					<input id="New password" type="password" name="new_password" placeholder="New Password" class="login-input" required onkeyup='check();'>
					<input id="Confirm new password" type="password" name="re_password" placeholder="re-enter password" class="login-input" required onkeyup='check();'>
                    <input type="submit" name="Submit" value="changePassword" class="register-submit"/>
				</form>


			</div>
		</div>





</body>
</html>