<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browse Instructions</title>
</head>

<script>
    function show(id) {
		document.getElementById(id).style.display='';
    }

	function hide(id) {
		document.getElementById(id).style.display='none';
    }

    function enable(id) {
        document.getElementById(id).disabled = false;
    }

    function disabled(id) {
        document.getElementById(id).disabled = true;
        document.getElementById(id).value = "";
    }

    window.onload=function(){
		hide("computer-form");
		hide("component-form");
	}

	function select_type(){
        if (document.getElementById("type").value === "computer") {
            show("computer-form");
            hide("component-form");
            disabled("component-form");
        }
        else if (document.getElementById("type").value === "component") {
            show("component-form");
            hide("computer-form");
            disabled("computer")
        }
        else {
            hide("component-form");
            hide("computer-form");
        }
    }

    function select_os() {
        if (document.getElementById("os").value !== "") {
            enable("purpose");
        }
        else {
            disabled("purpose");
            disabled("architecture");
        }
    }

    function select_purpose() {
        if (document.getElementById("purpose").value !== "") {
            enable("architecture");
        }
        else {
            disabled("architecture");
        }
    }
</script>

<body>

<div class = "grid">
    <div class="select-form">
        <form class="browse-form" action="/browse/" method="post">
            <label>
                I want to buy:
                <select name="type" id="type" onchange="select_type()">
                    <option value="">--please select--</option>
                    <option value="computer">computer</option>
                    <option value="component">component</option>
                </select>
            </label>

            <div class="computer-form" id="computer-form">
                <label>
                    OS:
                    <select name="os" id="os" onchange="select_os()">
                        <option value="">--please select a operating system--</option>
                        <option value="windows">windows</option>
                        <option value="linux">linux</option>
                        <option value="mac os">mac os</option>
                    </select>
                </label>

                <label>
                    Main purpose:
                    <select name="purpose" id="purpose" disabled onchange="select_purpose()">
                        <option value="">--please select a main purpose--</option>
                        <option value="business">business</option>
                        <option value="computing">computing</option>
                        <option value="gaming">gaming</option>
                    </select>
                </label>

                <label>
                    Architecture:
                    <select name="architecture" id="architecture" disabled>
                        <option value="">--please select a architecture--</option>
                        <option value="business">intel</option>
                        <option value="computing">arm</option>
                    </select>
                </label>
            </div>

            <div class="component-form" id="component-form">
                <label>
                    Category:
                    <select name="component-category" id="component-category">
                        <option value="">--please select a category--</option>
                        <option value="cpu">cpu</option>
                        <option value="gpu">cpu</option>
                        <option value="memory">memory</option>
                    </select>
                </label>
            </div>
        </form>
    </div>
</div>






</body>
</html>