{% load static %}
<link rel="stylesheet" href="{% static 'css/userinfo.css' %}">
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <h1 class="maintext">Clerk account home</h1>
</head>

{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
            <script> alert('{{ message }}'); </script>
        {% endif %}
    {% endfor %}
{% endif %}

<body class="wrap">
{% comment %} style="background:url({% static '/image/background1.jpg' %}); background-size: 100%;" {% endcomment %}
<div class="navBar">
    <a href="/">Home</a>
    <a href="/browse">Browse</a>
    <a href="/addItem">Add Item</a>
    <a href="/forum">Forum</a>
    <a href="/taboolist">Taboo List</a>
    <a href="/aboutus">About Us</a>
    <a href="/complaint">Complaint</a>

<div class="wrap">
			<div class="UserInform-wrap">
				<div class="login-title">
					{{ user }}
				</div>

                <div class="login-form">
                    <p style="margin: 5px 0">Account : clerk</p>


                </div>
                 <form class="login-form" action="/addItem/" >
                     <input type="submit" name="addItem" value="Add Item" class="register-submit"/>
				</form>

                  <form class="login-form" action="/changePassword/" method="post" >
                       {% csrf_token %}
                     <input type="submit" name="Change Password" value="Change Password" class="register-submit"/>
				</form>

                <form class="login-form" action="/assignDeliCom/" method="post" >
                       {% csrf_token %}
                     <input type="submit" name="deliCom" value="Assign Delivery" class="register-submit"/>
				</form>





			</div>
		</div>
</div>
</body>
</html> 