{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Complaint</title>
	<h1 class="maintext">Online Computer Store</h1>
</head>

<body>
<div class="navBar">
    <a href="/">Home</a>
    <a href="/browse">Browse</a>
    Welcome, <a href="/account">{{ user }}</a>
    <a href="/logout">Logout</a>
    <a href="/forum">Forum</a>
    <a href="/aboutus">About Us</a>
</div>
<div class="row mt-5" style="margin-left: 50px">
{% block content %}
<div class="row mt-5">
	<div class="col-md-8 offset-2">
		<div class="card shadow">
			<div class="card-header">
				<h3>Add Your Complain Here(Don't submit duplicate complaints. You are responsible for every complaint you submitted):</h3>
			</div>
			<div class="card-body" style="margin-top: 50px">
				{% if messages %}
				    {% for message in messages %}
				    <p{% if message.tags %} class="text-success"{% endif %}>{{ message }}</p>
				    {% endfor %}
				{% endif %}
            Your order number: {{ order_number }}
				<form method="post" action="/complaint/" id="formID">
					{% csrf_token %}
					<table class="table table-bordered mt-4">
						<tr>
							<th>Computer Company ID:{{ companyID  }}</th>
						</tr>
						<tr>
							<th>Your Complaint to Company:</th>
							<td>
								<textarea class="form-control" name="complainComputerCompany" rows="8" form="formID" placeholder="Enter your complain description" required></textarea>
                                <input type="hidden" name="CompID" value={{ companyID }}>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<input type="submit" class="btn btn-dark" />
							</td>
						</tr>
					</table>
				</form>
            {% if deliveryID != 'None' %}
                	<form method="post" action="/complaint/" id="formID2">
					{% csrf_token %}
					<table class="table table-bordered mt-4" style="margin-top: 50px">
						<tr>
							<th>Your Delivery Company ID:{{ deliveryID }}</th>
						</tr>
						<tr>
							<th>Your Complaint</th>
							<td>
								<textarea class="form-control" name="complainDeliveryCompany" rows="8" form="formID2" placeholder="Enter your complain description" required></textarea>
                                <input type="hidden" name="deliveryCompID" value={{ deliveryID }}>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<input type="submit" class="btn btn-dark" />
							</td>
						</tr>
					</table>
				</form>
            {% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock content %}