<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assign Delivery</title>
</head>

<body>
<div class="row mt-5">
	<div class="col-md-8 offset-2">
		<div class="card shadow">
			<div class="card-header">
				<h1>File your complaint</h1>
			</div>
			<div class="card-body">
				{% if messages %}
				    {% for message in messages %}
				    <p{% if message.tags %} class="text-success"{% endif %}>{{ message }}</p>
				    {% endfor %}
				{% endif %}
            Your order number: {{ order_number }}
				<form method="post" action="/complaint/" id="formID">
					{% csrf_token %}
					<table class="table table-bordered mt-4">
						<tr>
							<th>Computer Company ID:{{ companyID  }}</th>
						</tr>
						<tr>
							<th>Your Complaint to Company:</th>
							<td>
								<textarea class="form-control" name="complainComputerCompany" rows="8" form="formID" placeholder="Enter your complain description" required></textarea>
                                <input type="hidden" name="CompID" value={{ companyID }}>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<input type="submit" value='submit' class="btn btn-dark" />
							</td>
						</tr>
					</table>
				</form>
            {% if deliveryID != 'None' %}
                	<form method="post" action="/complaint/" id="formID2">
					{% csrf_token %}
					<table class="table table-bordered mt-4">
						<tr>
							<th>Your Delivery Company ID:{{ deliveryID }}</th>
						</tr>
						<tr>
							<th>Your Complaint</th>
							<td>
								<textarea class="form-control" name="complainDeliveryCompany" rows="8" form="formID2" placeholder="Enter your complain description" required></textarea>
                                <input type="hidden" name="deliveryCompID" value={{ deliveryID }}>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<input type="submit" value='submit' class="btn btn-dark" />
							</td>
						</tr>
					</table>
				</form>
            {% endif %}
			</div>
		</div>
	</div>
</div>
</body>