{% load static %}
<link rel="stylesheet" href="{% static 'css/userinfo.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <h1 class="maintext">Customer account home</h1>
</head>
{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
            <script> alert('{{ message }}'); </script>
        {% endif %}
    {% endfor %}
{% endif %}

<body class="wrap">

<div class="navBar">
    <a href="/">Home</a>
    <a href="/browse">Browse</a>
    Welcome, <a href="/account">{{ user }}</a>
    <a href="/logout">Logout</a>
    <a href="/forum">Forum</a>
    <a href="/aboutus">About Us</a>
    <a href="/complaint">Complaint</a>
</div>
<div class="wrap">
    <div class="UserInform-wrap" style="height: 650px">
        <div class="login-title">
            {{ user }}
        </div>

        <div class="login-form">
            <p style="margin: 5px 0">Account : Customer</p>
            <p style="margin: 5px 0">Email : {{ user.email }}</p>
            <p style="margin: 5px 0">Balance : {{ customer.balance }} </p>
            <p style="margin: 5px 0">Address : {{ customer.saved_address }} </p>




        </div>
        <form class="login-form" action="/topUp/">
            <input type="submit" name="Add Balance" value="Add Balance" class="register-submit"/>
        </form>

         <form class="login-form" action="/address/">
            <input type="submit" name="Add / Modify Address" value="Add / Modify Address    " class="register-submit"/>
        </form>

        <form class="login-form" action="/transaction/">
            <input type="submit" name="View Transaction" value="View Transaction" class="register-submit"/>
        </form>
        <form class="login-form" action="/viewOrder/">
            <input type="submit" name="Order History" value="Order History" class="register-submit"/>
        </form>

           <form class="login-form" action="/viewWarning/">
            <input type="submit" name="Warning History" value="Warning History" class="register-submit"/>
        </form>

        <form class="login-form" action="/ComplaintHistory/">
            <input type="submit" name="Your complaints History" value="Your complaints History" class="register-submit"/>
        </form>

        <form class="login-form" action="/changePassword/" method="post">
            {% csrf_token %}
            <input type="submit" name="Change Password" value="Change Password" class="register-submit"/>
        </form>

    </div>
</div>


</body>
</html> 