<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delivery Options</title>
</head>
<body>
<form method="POST" action="/addDelivery/">
Add Delivery Options:
<br>
{% csrf_token %}
{% comment %} {% for option in delCom %}
<input type="radio" name="deliveryOption" value="delivery">{% option.name%} -- {% option.price%}<br>
{% end for %} {% endcomment %}
    Company name: <input type="text" name="name"><br>
    Delivery price: <input type="number" name="price"><br>
    <input type="submit" value="submit">
    
</form>

</body>
</html>


