{% load static %}
<link rel="stylesheet" href="{% static 'css/userinfo.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delivery</title>
    <h1 class="maintext">Delivery company account home</h1>
</head>


<body class="wrap">
{% comment %} style="background:url({% static '/image/background1.jpg' %}); background-size: 100%;" {% endcomment %}
<div class="navBar">
    <a href="/">Home</a>
    <a href="/browse">Browse</a>
    <a href="/forum">Forum</a>
    <a href="/taboolist">Taboo List</a>
    <a href="/aboutus">About Us</a>


    <div class="wrap">
        <div class="UserInform-wrap">
            <div class="login-title">
                {{ user }}
            </div>

            <div class="login-form">
                <p style="margin: 5px 0">Account : Delivery Company</p><br>
            </div>
            {% for order in open_order %}
                <form class="login-form" action="/delivery/" method="POST">
                    {% csrf_token %}
                    <li> ORDER_#: {{ order.order_number }}<br>
                        Address: {{ order.address }}
                        <br> your price:
                        <input type="number" name="price" required>
                        <input type="hidden" value={{ order.id }} name="order_id">
                        <input type="submit" value="submit">
                </form>
                <br>
            {% endfor %}


        </div>
    </div>
</div>
{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
            <script> alert('{{ message }}'); </script>
        {% endif %}>
    {% endfor %}
{% endif %}
</body>
</html> 