{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <h1 class="maintext">Online Computer Store</h1>
</head>
<body class="wrap">
{% comment %} style="background:url({% static '/image/background1.jpg' %}); background-size: 100%;" {% endcomment %}
<div class="navBar">
    <a href="/">Home</a>
    <a href="/">Catalog</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <a href="/aboutus">About Us</a>
</div>
<div class="maintext">
    <h2>Recommended Items</h2>
    {% for item in suggested_list %}
        <li>{{ item }}</li>
    {% endfor %}
    <h2>Most Popular Items</h2>
    {% for item in popular_list %}
        <li>{{ item.name }}</li>
    {% endfor %}
<div>
</body>
</html> 