{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item page</title>
    <h1 class="maintext">Online Computer Store</h1>
</head>
<body  class="wrap">
<div class="navBar">
    <a href="/">Home</a>
    <a href="/browse">Browse</a>
    Welcome, <a href="/account">{{ user }}</a>
    <a href="/logout">Logout</a>
    <a href="/forum">Forum</a>
    <a href="/aboutus">About Us</a>

</div>

<div style="margin-left: 50px">
<h1>Item name: {{ item.name }}</h1>
<img src="{{ item.img.url }}" style="width: 200px">
<ul>

    <li>Description: {{ item.description }}</li>
    <li>Rating: {{ item.rating }}</li>
    <li>Price: {{ item.price }}</li>
</ul>
<a href="/purchase/{{ item.url_slug }}"><button class="login-submit"> Purchase</button></a>

<div>
    <h2>Comments: </h2>
    {% for discuss in discussion %}
        <hr>
        <div>
            <small style="font-size:80%; color: #ff66ff">&ltID:{{ discuss.user.id }}&gt</small>
            <b style="color: #00ff00; font-size:140%">
                {{ discuss.user.username }}:
            </b>
            <p style="background-color:#66ccff; font-size:160%;">
                "{{ discuss.discuss }}"
            </p>
        </div>


        <div style="text-align:right;">
            <small> &lt{{ discuss.date_created }}&gt</small>

            <form method="POST" action="\forum\reply\">
                {% csrf_token %}
                <input type="hidden" name="discussionID" value={{ discuss.id }}>
                <input type="hidden" name="forum_id" value={{ forum.id }}>
                <button class="btn btn-success"
                        style="background-color: firebrick; width:fit-content; padding: 4px; margin:10px;">
                    Reply
                </button>
            </form>


            <form method="POST" action="\forum\report\">
                {% csrf_token %}
                <input type="hidden" name="discussionID" value={{ discuss.id }}>
                <input type="hidden" name="reportedID" value={{ discuss.user_id }}>
                <button class="btn btn-success"
                        style="background-color: firebrick; width:fit-content; padding: 4px; margin:10px;">
                    Report
                </button>
            </form>
        </div>






        <div style="text-align: right;">
            {% for reply in replies %}
                {% if discuss.id == reply.reply_to %}

                    <small style="font-size:60%; color: #ff66ff">&ltID:{{ objs.user.id }}&gt</small>
                    <b style="color: #00ff00; font-size:100%">
                        {{ reply.user.username }}:
                    </b>
                    <p style="background-color:#9380c9; font-size:120%;">
                        "{{ reply.discuss }}"
                    </p>

                    <div style="text-align:right;">
                        <small> &lt{{ reply.date_created }}&gt</small>
                            <form method="POST" action="\forum\report\">
                                {% csrf_token %}
                                <input type="hidden" name="discussionID" value={{ reply.id }}>
                                <input type="hidden" name="reportedID" value={{ reply.user_id }}>
                                <button class="btn btn-success"
                                        style="background-color: firebrick; width:fit-content; padding: 4px; margin:10px;">
                                    Report
                                </button>
                            </form>
                    </div>
                    <br>
                {% endif %}
            {% endfor %}
        </div>





        <br>
    {% endfor %}

    <form method="POST" action="\forum\addDiscussion\">
        {% csrf_token %}
        <input type="hidden" name="forum_id" value="{{ forum.id }}">
        <button class="btn btn-success" style="width:fit-content; padding: 4px; margin:10px;">Say something</button>
    </form>

</div>
</div>
</body>
</html>