{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <h1>LOGIN PAGE</h1>
</head>
<body>
<form action="/login/" method="POST">
    {% csrf_token %}
    username: <input type="text" name = "username">
    password: <input type="password" name="password">
    <input type="submit" value="LOGIN">
</form>
<a href="/register">register</a>
</body>
</html>  {% endcomment %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>

	</head>
	<body>
		<div class="wrap">
			<div class="login-wrap">
				<div class="login-title">
					Login
				</div>
				<form class="login-form" action="/login/" method="POST">
					{% csrf_token %}
                    <input type="text" name="user" placeholder="username" class="login-input">
					<input type="password" name="password" placeholder="password" class="login-input">
					<input type="submit" name="login" value="Login" class="login-submit"/>
				</form>
				<div class="tip">
					Don't have account? <a href="/register">Sign up</a>
				</div>
			</div>
		</div>
	</body>
</html> 