{% load static %}
<!DOCTYPE html>
<!--suppress CssUnusedSymbol, JSUnresolvedLibraryURL -->
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>评价</title>
    <link rel="stylesheet" href="{% static 'css/rating.css' %}">
</head>

<script typet="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script>
    $(document).ready(function(){
    // Check Radio-box
    $(".rating input:radio").attr("checked", false);
    $(".rating2 input:radio").attr("checked", false);

    $('.rating input').click(function () {
        $(".rating span").removeClass('checked');
        $(this).parent().addClass('checked');
    });

    $('.rating2 input').click(function () {
        $(".rating2 span").removeClass('checked');
        $(this).parent().addClass('checked');
    });

    /*$('input:radio').change(
      function(){
        var userRating = this.value;
        alert(userRating);
    });*/
});
</script>

<body>
<form method="post">
<div class="rating">
        {% csrf_token %}
        <span>rate item</span>
        <span><input type="radio" name="item_score" id="is5" value="5"><label for="is5"></label></span>
        <span><input type="radio" name="item_score" id="is4" value="4"><label for="is4"></label></span>
        <span><input type="radio" name="item_score" id="is3" value="3"><label for="is3"></label></span>
        <span><input type="radio" name="item_score" id="is2" value="2"><label for="is2"></label></span>
        <span><input type="radio" name="item_score" id="is1" value="1"><label for="is1"></label></span>
</div>

<br>
<br>
<br>
<br>

<div class="rating2">
        <span>rate delivery:</span>
        <span><input type="radio" name="delivery_score" id="ds5" value="5"><label for="ds5"></label></span>
        <span><input type="radio" name="delivery_score" id="ds4" value="4"><label for="ds4"></label></span>
        <span><input type="radio" name="delivery_score" id="ds3" value="3"><label for="ds3"></label></span>
        <span><input type="radio" name="delivery_score" id="ds2" value="2"><label for="ds2"></label></span>
        <span><input type="radio" name="delivery_score" id="ds1" value="1"><label for="ds1"></label></span>
        <input type="submit" value="submit">

</div>
    </form>
</body>
</html>
