{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REGISTER</title>
    <h1>This is a register page</h1>
</head>
<body>

{% if success%}
    {% if success == 'true' %}
        <script> confirm('success'); </script>
        <script> window.location.href = "/";</script>
    {% endif%}
{% endif %}

<form action="/register/" method="POST">
    {% csrf_token %}
    username: <input type="text" name="username">
    password: <input type="password" name="password">
    re-enter password <input type="password" name="re-password">
    email: <input type="text" name="email">
    <input type="submit" value="confirm">
</form>
</body>
</html> {% endcomment %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>REGISTER</title>
        {% comment %} <h1 class="maintext">Online Computer Store</h1> {% endcomment %}
	</head>
	<body>
    {% comment %} <div class="navBar">
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/aboutus">About Us</a>
    </div> {% endcomment %}

    {% if success%}
        {% if success == 'true' %}
            <script> confirm('success'); </script>
            <script> window.location.href = "/";</script>
        {% endif%}
    {% endif %}
		<div class="wrap">
			<div class="register-wrap">
				<div class="login-title">
					Register
				</div>
                <form class="login-form" form action="/register/" method="POST">
					<input type="text" name="user" placeholder="username" class="login-input">
					<input type="password" name="password" placeholder="password" class="login-input">
					<input type="password" name="re-password" placeholder="re-enter password" class="login-input">
                    <input type="email" name="email" placeholder="email" class="login-input">
                    <input type="submit" name="register" value="Register" class="register-submit"/>
				</form>
				<div class="tip">
					Have a account already? <a href="/login">Sign in</a>
				</div>
			</div>
		</div>
	</body>
</html> 