{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Track Order</title>
    <h1 class="maintext">Online Computer Store</h1>
</head>
<body>
<div class="navBar">
    <a href="/">Home</a>
    <a href="/browse">Browse</a>
    Welcome, <a href="/account">{{ user }}</a>
    <a href="/logout">Logout</a>
    <a href="/forum">Forum</a>
    <a href="/aboutus">About Us</a>
</div>
 <h1 style="text-align: center"> Tracking</h1>
<div style="text-align: center">
    Order number: {{order.order_number}}
    <br>Order date: {{order.transaction.time}}
    <br>Estimate delivery time: {{estimate_time}}
    <br>Tracking info: {{ order.tracking_info }}
    <br> order_status: {{ order.status }}
</div>
 <a  style="display: block; text-align: center;" href="/account">account page</a>
</body>
</html>