{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Register User Page</title>
    <h1 class="maintext">Online Computer Store</h1>
</head>

{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
            <script> alert('{{ message }}'); </script>
        {% endif %}
    {% endfor %}
{% endif %}

<body class="wrap">

<div class="navBar">
    <a href="/">Home</a>
    <a href="/browse">Browse</a>
    Welcome, <a href="/account">{{ user }}</a>
    <a href="/logout">Logout</a>
    <a href="/forum">Forum</a>
    <a href="/aboutus">About Us</a>

</div>
<div class="maintext">
    <h2>Recommended Items</h2>
    {% for item in suggested_list %}
        <div class="product">
            <li><div class="product-img">
                <img src="{{ item.img.url }}" style="width: 200px">
            </div>
            <div class="product-content">
                <h3>
                    <a href="/item/{{ item.url_slug }}">Item name: {{ item.name }}</a>
                    <small>Description: {{ item.description }}</small>
                </h3>
                <p class="product-text price">Price: {{ item.price }}</p>
                <p class="product-text genre">Rating: {{ item.rating }}</p>
            </div>
            </li>
        </div>
    {% endfor %}
    <h2>Most Popular Items - HOT</h2>
    {% for item in popular_list %}
        <div class="product">
            <li><div class="product-img">
                <img src="{{ item.img.url }}" style="width: 200px">
            </div>
            <div class="product-content">
                <h3>
                    <a href="/item/{{ item.url_slug }}">Item name: {{ item.name }}</a>
                    <small>Description: {{ item.description }}</small>
                </h3>
                <p class="product-text price">Price: {{ item.price }}</p>
                <p class="product-text genre">Rating: {{ item.rating }}</p>
            </div>
            </li>
        </div>
    {% endfor %}

</div>
</body>
</html>