{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Register User Page</title>
    <h1 class="maintext">Online Computer Store</h1>
</head>

{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
            <script> alert('{{ message }}'); </script>
        {% endif %}
    {% endfor %}
{% endif %}

<body class="wrap">
{% comment %} style="background:url({% static '/image/background1.jpg' %}); background-size: 100%;" {% endcomment %}
<div class="navBar">
    <a href="/">Home</a>
    <a href="/browse">Browse</a>
    Welcome, <a href="/account">{{ user }}</a>
    <a href="/logout">Logout</a>
    <a href="/forum">Forum</a>
    <a href="/aboutus">About Us</a>
    <a href="/complaint">Complaint</a>
</div>
<div class="maintext">
    <h2>Recommended Items</h2>
    {% for item in suggested_list %}
        <li>{{ item }}</li>
    {% endfor %}
    <h2>Most Popular Items</h2>
    {% for item in popular_list %}
        <li>{{ item.name }}</li>
    {% endfor %}
</div>
</body>
</html>