{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Register User Page</title>
    <h1 class="maintext">Online Computer Store</h1>
</head>
<body class="wrap">
{% comment %} style="background:url({% static '/image/background1.jpg' %}); background-size: 100%;" {% endcomment %}
<div class="navBar">
    <a href="/">Home</a>
    <a href="/browse">Browse</a>
    Welcome, <a href="/account">{{ user }}</a>
    <a href="/logout">Logout</a>
    <a href="/aboutus">About Us</a>
</div>
<div class="maintext">
    <h2>Recommended Items</h2>
    <li>recomended item1</li>
    <li>recomended item2</li>
    <li>recomended item3</li>
    <h2>Most Popular Items</h2>
    <li>popular item1</li>
    <li>popular item2</li>
    <li>popular item3</li>
</div>
</body>
</html>