{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Order</title>
</head>
<body>
 <h1 style="text-align: center"> Warning History</h1>

    <table align="center" border="1" width="1200" height="150">
        <tr>
            <th>description</th>
            <th>finalized Status</th>
            <th>Time</th>
        </tr>


        {% for data in data  %}

        <tr align="center">
            <td>{{ data.description }}</td>
            <td> {{ data.finalized }} </td>
            <td>{{ data.date_created }}</td>
        </tr>
        {% endfor %}


    </table>

 <a  style="display: block; text-align: center;" href="/account">account page</a>
</body>
</html>
