{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Order</title>
</head>
<body>
 <h1 style="text-align: center"> Order History</h1>

    <table align="center" border="1" width="1200" height="150">
        <tr>
            <th>item</th>
            <a><th>Order Number</th></a>
            <th>Money</th>
            <th>Order time</th>
            <th>Address</th>
            <th>delivery company</th>
            <th>status</th>
        </tr>

        {% for data in data  %}

        <tr align="center">
            <td>{{ data.item.name }}</td>
            <td><a href="/tracking/{{data.url_slug}}">{{ data.order_number }}</a></td>
            <td> {{ data.transaction.amount }} </td>
            <td>{{ data.transaction.time }}</td>
            <td>{{ data.address }}</td>
            <td>{{ data.delivery_company }}</td>
            <td>{{ data.status }}</td>
        </tr>
        {% endfor %}

    </table>

 <a  style="display: block; text-align: center;" href="/account">account page</a>
</body>
</html>
