{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Order</title>
</head>

{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
            <script> alert('{{ message }}'); </script>
        {% endif %}
    {% endfor %}
{% endif %}

<body>
<h1 style="text-align: center"> Order History</h1>

<table align="center" border="1" width="1800" height="150">
    <tr>
        <th>item</th>
        <th>Item Rating</th>
        <a>
            <th>Order Number</th>
        </a>

        <th>Money</th>
        <th>Order time</th>
        <th>Address</th>
        <th>delivery company</th>
        <th>status</th>
        <th>complaint</th>
        <th>rate oreder</th>
    </tr>

    {% for order in data %}

        <tr align="center">
            <td>{{ order.item.name }}</td>
            <td> {{ order.item.rating }}</td>
            <td><a href="/tracking/{{ order.url_slug }}">{{ order.order_number }}</a></td>
            <td> {{ order.transaction.amount }} </td>
            <td>{{ order.transaction.time }}</td>
            <td>{{ order.address }}</td>
            <td>{{ order.delivery_company }}</td>
            <td>{{ order.status }}</td>
            <td>
                <form action="/complaint/" method="POST">
                    {% csrf_token %}
                    <input type="submit" name="complain" value="Complain">
                    <input type="hidden" name="computer_companyID" value={{ order.item.brand.id }}>
                    <input type="hidden" name="order_number" value={{ order.order_number }}>
                    <input type="hidden" name="deliveryID" value={{ order.delivery_company_id }}>
                </form>
            </td>
            {% if order.status == "complete"  %}
                {% if order.item_score == Null and order.delivery_score == Null %}
                    <td style="color: #FF9900"><button><a href="/rating/{{ order.url_slug }}">rate this order</a></button></td>
                {% else %}
                    <td style="color: #FF9900"><b>Item: {{ order.item_score }} Delivery: {{ order.delivery_score }} (Already rated this order)</b></td>
            {% endif %}
                {% else %}
                <td style="color: #FF9900"><b>Can't rate yet</b></td>
        {% endif %}
        </tr>


    {% endfor %}

</table>

<a style="display: block; text-align: center;" href="/account">account page</a>
</body>
</html>
