<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
            <script> alert('{{ message }}'); </script>
        {% endif %}
    {% endfor %}
{% endif %}
<table align="center" border="1">
    <tr align="center">
        <th>reporter</th>
        <th>reported user</th>
        <th>message</th>
        <th>options</th>
        <th>Revert</th>
    </tr>
    {% for w in warning %}
        <tr>
            <td>Anonymity</td>
            <td>{{ w.reported_user }}</td>
            <td>{{ w.description }}</td>
            <td>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ w.id }}">
                    <input type="submit" name="stay" value="stay">
                </form>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ w.id }}">
                    <input type="submit" name="remove" value="remove">
                </form>
            </td>
            <td>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ w.id }}">
                    <input style="background-color: #fa0000 " type="submit" name="revert" value="revert">
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>