{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Warning Justication</title>
    <h1 class="maintext">Online Computer Store</h1>
</head>
<body>
{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
            <script> alert('{{ message }}'); </script>
        {% endif %}
    {% endfor %}
{% endif %}
<div class="navBar">
    <a href="/">Home</a>
    <a href="/browse">Browse</a>
    Welcome, <a href="/account">{{ user }}</a>
    <a href="/logout">Logout</a>
    <a href="/forum">Forum</a>
    <a href="/aboutus">About Us</a>
</div>
<table align="center" border="1" style="margin-top: 50px">
    <tr align="center">
        <th>reporter</th>
        <th>reported user</th>
        <th>message</th>
        <th>options</th>
        <th>Revert</th>
    </tr>
    {% for w in warning %}
        <tr>
            <td>Anonymity</td>
            <td>{{ w.reported_user }}</td>
            <td>{{ w.description }}</td>
            <td>
                <form method="post" id="1">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ w.id }}">
                    <input type="submit" name="stay" value="stay">


                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ w.id }}">
                    <input type="submit" name="remove" value="remove">
            </td>
            <td>

                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ w.id }}">
                    <input style="background-color: #fa0000 " type="submit" name="revert" value="revert">

            </td>
        </tr>
            <td><input type="text" class="login-input" name="justification"  placeholder="Write your justificaiton here please" required></td>

            </form>


    {% endfor %}
</table>
</body>
</html>