{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <h1 class="maintext">manager account home</h1>
</head>
<body class="wrap">
{% comment %} style="background:url({% static '/image/background1.jpg' %}); background-size: 100%;" {% endcomment %}
<div class="navBar">
    <a href="/">Home</a>
    <a href="/Browse">Browse</a>
    <a href="/logout">Logout</a>
    <a href="/">change suggested item</a>
    <a href="/aboutus">About Us</a>
</div>
</body>
</html> 