<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top Up</title>
</head>
<body class="wrap">
<div class="navBar">
    <a href="/">Home</a>
    <a href="/logout">Log out</a>
    <a href="/topUp">Add balance</a>
    <a href="/aboutus">About Us</a>
</div>

<div class="login-wrap">
    <div class="login-title">
        Top Up Your Balance
    </div>
    <form class="login-form" action="/topUp/" method="POST">
        {% csrf_token %}
        <input type="text" name="customer_name" class="login-input" placeholder="Name" required>
        <input type="text" name="card_num" class="login-input" placeholder="Card Number" required>
        <input type="password" name="pwd" class="login-input" placeholder="Password" required>
        <input type="text" name="amount" class="login-input" placeholder="Amount" required>
        <input type="submit" name="confirm" value="Confirm" class="login-submit"/>
    </form>
</div>
</body>
</html>






